body {
    overflow-y: scroll;
    overflow-x: hidden;
}

:root,
body,
html {
    background-color: #f3f2ef;
    box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("./fonts/Myriad Pro Bold/Myriad Pro Bold.ttf");
}

@font-face {
    font-family: "MyriadSemibold";
    src: url("./fonts/Myriad Pro Bold/MYRIADPRO-SEMIBOLD.woff");
}

@font-face {
    font-family: "MyriadRegular";
    src: url("./fonts/Myriad Pro Bold/MYRIADPRO-REGULAR.woff");
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
